<div class="calculator">
  <div class="display">
    {{ visor || '0' }}
  </div>

  <div class="buttons">
    <button (click)="limpar()">C</button>
    <button (click)="apagar()">←</button>
    <button (click)="operacao('/')">÷</button>
    <button (click)="operacao('*')">×</button>

    <button (click)="adicionar('7')">7</button>
    <button (click)="adicionar('8')">8</button>
    <button (click)="adicionar('9')">9</button>
    <button (click)="operacao('-')">-</button>

    <button (click)="adicionar('4')">4</button>
    <button (click)="adicionar('5')">5</button>
    <button (click)="adicionar('6')">6</button>
    <button (click)="operacao('+')">+</button>

    <button (click)="adicionar('1')">1</button>
    <button (click)="adicionar('2')">2</button>
    <button (click)="adicionar('3')">3</button>
    <button class="igual" (click)="calcular()">=</button>

    <button class="zero" (click)="adicionar('0')">0</button>
    <button (click)="adicionar('.')">.</button>
  </div>
</div>
